.day{
    background-color: deepskyblue;
    border: 1px solid blue;
    margin: 2px;
    width: 30px;
    height: 30px;
    border-radius: 100%;
}

.day div{
    position: relative;
    top: 6px;
    color: white;
    text-align: center;
}
.day:hover{
    cursor: pointer;
}

.day[foo = "true"]{
    background-color: blue;
}

#repeating{
    display: block;
}

#addAppointment{
    display: block;
}

#notRepeating{
    display: none;
}

#overview{
    width: 100%;
}

#overviewMenu{
    width: 100%;
    border-bottom: 1px solid black;
}

#overviewMenu div{
    display: inline-block;
    width: calc(100%/2);
    text-align: center;
}

#overviewMenu div:hover{
    background-color: #727272;
    cursor: pointer;
}
#overviewMenu div[selectedDiv = "true"]{
    background-color: #5579d1;
}
#overviewMenu div[selectedDiv = "true"]:hover{
    background-color: #727272;
    cursor: pointer;
}

#overviewTable{
    border-bottom: 1px solid black;
}

table{
    width: 100%;
}

tr * {
    text-align: center;
}

.delete:hover{
    cursor: pointer;
}
