.day{
    background-color: deepskyblue;
    border: 1px solid blue;
    margin: 2px;
    width: 30px;
    height: 30px;
    border-radius: 100%;
}

.day div{
    position: relative;
    top: 6px;
    width: 30px;
    color: white;
    text-align: center;
}
.day:hover{
    cursor: pointer;
}

.day[foo = "true"]{
    background-color: blue;
}

#repeating{
    display: block;
    margin: auto;
    width: 280px;
}

.overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.28);
    display: none;
}

#checkbox{
    width: 280px;
    background-color: grey;
    margin: auto;
    text-align: center;
}

#checkbox:hover{
    cursor: pointer;
}

#sendAppointment{
    width: 280px;
    text-align: center;
}
.button{
    width: 280px;
    margin: auto;
}
.inputContainer div div{
    display: inline-block;
}


.input{
    width: 310px;
    margin: auto;
}
.input div{
    width: 100px;
}
.input input{
    width: 200px;
    text-align: center;
}

.inputContainer{
    width: 50%;
    height: 50%;
    overflow: auto;
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    border: solid black;
    background-color: #51caff;
}

#notRepeating{
    display: none;
}

#overview{
    width: 100%;
}

#overviewMenu{
    width: 100%;
    border-bottom: 1px solid black;
}

#overviewMenu div{
    display: inline-block;
    width: calc(100%/2);
    text-align: center;
}

#overviewMenu div:hover{
    background-color: #727272;
    cursor: pointer;
}
#overviewMenu div[selectedDiv = "true"]{
    background-color: #5579d1;
}
#overviewMenu div[selectedDiv = "true"]:hover{
    background-color: #727272;
    cursor: pointer;
}

#overviewTable{
    border-bottom: 1px solid black;
}

table{
    border-top: 1px solid black;
    width: 100%;
}

tr * {
    text-align: center;
}

.delete:hover{
    cursor: pointer;
}

