body{
    background-color: #51caff;
}
.header{
    display: block;
    position: fixed;
}
.logo{
    position: relative;
    top: 10px;
    display: block;
    width:80px;
    height: auto;
    margin: auto;
}
.logo:hover{
    cursor: pointer;
}
.menu{
    position: absolute;
    background-color: white;
    border-radius: 50%;
    width: 100px;
    height: 80px;
}
.menuItem{
    display: none;
    position: relative;
    left: 20px;
    padding-bottom: 10px;
    ;
}

a:link a:visited{

    color: white;
}

li{
    color: black;
}
.content{
    position: relative;
    top: 60px;
    width: 80%;
    display: block;
    background-color: white;
    margin: auto;
    border: 1px solid black;
}
.timeTable {
    margin: auto;
    width: 100%;
    border-bottom: 1px solid black;
    border-collapse: collapse;
}

#tableHeader div{
    display: inline-block;
    border-bottom: 1px solid rgba(150, 150, 150, 0.31);
    width: calc(100%/8);
    text-align: center;
}

table tr th{
    width: 12.5%;
    height: 30px;
    margin: -1px;
    padding: 0;
}

.time{
    width: 100%;
    height: 29px;
    padding: 0;
    margin: 0;
    border-bottom: 1px solid black;
}

.timeHour{
    position: relative;
    top: 19.5px;
    left: 20px;
}

.day{
    display: inline-block;
    width: calc(100%/7 - 0.5px);
    height: 100%;
    margin: -2px;
    border-left: 1px solid black;
    background-color: rgba(181, 181, 181, 0.18);
}

.overlay{
    position: absolute;
    left: 12.5%;
    top: 44.5px;
    width: 87.5%;
    height: calc(100% - 45px);
}

.timeElement{
    position: absolute;
    width: calc(100%/7 - 0.5px);
    color: white;
}
.task{
    background-color: rgb(255, 0, 0);
}

#tableHeader th{
    background-color: rgb(181, 181, 181);
}

#utilHeader{
    width: 100%;background-color: rgb(181, 181, 181); display: block; border-bottom: 1px solid black
}

#utilHeader input{
    display: inline-block;
    width: 9%;
}

#utilHeader div{
    display: inline-block;
     width: 81.1%;
    text-align: center;
}

.appointment{background-color: rgba(0, 0, 255, 0.77)
}

.hidden{
    display: none;
}